<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345379941326-ni0nbbmlckjbglgajkg0j1972ng8popv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345379941326-ni0nbbmlckjbglgajkg0j1972ng8popv</string>
	<key>API_KEY</key>
	<string>AIzaSyDCTXIZWU-ZnKm9Q-LsyZx1RBt61voy09w</string>
	<key>GCM_SENDER_ID</key>
	<string>345379941326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fisioflexMobile.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>iq-sos-prototype</string>
	<key>STORAGE_BUCKET</key>
	<string>iq-sos-prototype.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345379941326:ios:a144c3efe13c8bf275d99f</string>
</dict>
</plist>